.favoritesListItem {
	list-style: none;
	width: 70%;
}

.listContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: scroll;
}

.favoritesContainer {
	background-color: var(--background-white);
	display: flex;
	border: 1px solid var(--darker-grey);
	flex-direction: column;
	height: 600px;
	width: 1000px;
	max-width: 80%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
}
.favHeading {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
	color: #252c32;
	font-size: 1.5rem;
	font-weight: 500;
}
.ifEmptyText {
	font-size: 0.87rem;
	display: flex;
	justify-content: center;
	text-align: center;
	margin-right: 3rem;
}

.close {
	position: absolute;
	top: 1rem;
	right: 1rem;
}
