.listContainer {
	flex-grow: 1;
	padding: 20px;
	box-sizing: content-box;
}

.productGrid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	box-sizing: content-box;
}
