.listContainer {
	margin-top: 1rem;
	display: flex;
	flex-grow: 1;
	/* padding: 20px; */
	box-sizing: content-box;
	/* align-items: center;
	justify-content: center; */
}

.productGrid {
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
	box-sizing: content-box;
}
