.listContainer {
	flex-grow: 1;
	/* padding: 20px; */
	box-sizing: content-box;
	border-collapse: collapse;
}

.productGrid {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	box-sizing: content-box;
}
