.productListItem {
	list-style: none;
	display: flex;
	max-width: 27%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--darker-grey);
	position: relative;
	box-sizing: border-box;
	flex-basis: calc(33.33% - 20px);
	padding: 1.5rem;
	border-collapse: collapse;
}

.productImageContainer {
	padding: 3rem 0;
}
.productImage {
	max-width: 100%;
	max-height: 152px;
	object-fit: cover;
}

.iconsContainer button {
	border: none;
	background-color: var(--background-white);
	margin: 3px;
}

.iconsContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 10px;
	top: 10px;
}

.iconsContainer {
	padding: 0;
}
.productTextContainer h2 {
	font-size: 0.87rem;
	font-weight: 300;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 95%;
}

.price {
	font-size: 1.1rem;
	font-weight: 500;
}

.rating {
	font-size: 0.75rem;
}
