:root {
	--background-white: #ffff;
	--lighter-grey: #e5e9eb;
	--darker-grey: #b0babf;
	--text-balck: #252c32;
	--logo-red: #f76659;
	--button-blue: #4094f7;
	--star-yellow: #f8c51b;
}

body {
	/* font-family: Arial, sans-serif;
	display: flex;
	flex-wrap: nowrap; */
}
