.cartItemContainer {
	display: flex;
	flex-direction: row;
	background-color: var(--background-white);
	border: 1px solid var(--darker-grey);
	margin: 8px;
	font-size: 0.87rem;
	font-weight: 500;
	padding: 0.5rem;
	position: relative;
	overflow: hidden;
}
.cartItemContainer h3 {
	font-size: 0.87rem;
	font-weight: 300;
	margin-top: 1rem;
}
.cartItemImage {
	width: 150px;
	margin-right: 1rem;
}

.cartItemFeatures {
	display: flex;
	justify-content: space-between;
}
.cartItemFeatures p {
	margin-right: 1rem;
	margin-top: 0.25rem;
	font-weight: 300;
}

.deleteBtn {
	position: absolute;
	top: 16px;
	right: 16px;
}
.deleteBtn:hover {
	cursor: pointer;
}
