.SearchBarContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 0.5;
	position: relative;
}

.input {
	border: 1px solid var(--lighter-grey);
	border-radius: 6px;
	padding: 0.35rem;
	width: 100%;
	display: flex;
}
input:focus {
	outline: none;
	border: 1px solid var(--darker-grey);
}

.searchBtn {
	align-self: stretch;
	background-color: transparent;
	border: none;
	border-radius: 6px;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}
