.brandFilter {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-grow: 1;
	font-size: 0.87rem;
	font-weight: 300;

}

.brandName {
	margin: 0 0.3rem;
}

.brandTitle {
	margin: 0 1rem 0 5rem;
	font-size: 0.87rem;
	font-weight: 300;
}
