.brandFilter {
	display: flex;
	flex-direction: row;
}

.brandName {
	margin: 0 0.3rem;
	text-decoration: underline;
}

.brandNameBold {
	margin: 0 0.3rem;
	text-decoration: underline;
	font-weight: 600;
}

.brandTitle {
	margin: 0 1rem 0 5rem;
	font-weight: 600;
}
