.brandFilter {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-grow: 1;
	font-size: 0.87rem;
	font-weight: 300;
}

.brandName {
	margin: 0 0.3rem;
	padding: 0.25rem 0.5rem;
	border-radius: 6px;
}

.brandNameBold {
	margin: 0 0.3rem;
	padding: 0.25rem 0.5rem;
	border-radius: 6px;
	text-decoration: underline;
}

.brandName:hover {
	cursor: pointer;
	text-decoration: underline;
}

.brandTitle {
	margin: 0 1rem 0 5rem;
	font-size: 0.87rem;
	font-weight: 300;
}

@media screen and (max-width: 767px) {
	.brandName {
		font-size: 0.7rem;
		justify-content: space-between;
	}
}
