.navBar2 {
	display: flex;
	flex-direction: row;
	margin: 0.5rem 0 1rem 0;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 0 1rem 0.5rem 1rem;
	border-bottom: 1px solid var(--lighter-grey);
}

@media screen and (max-width: 767px) {
	.location {
		font-size: 0.6rem;
		padding: 0 0.25rem 0.5rem 0.25rem;
	}
}
